# Set up the folders/files that should never go into the git repository.

# The Mac Finder produces a metadata file in directories that is noise:
.DS_Store

# My specific Visual Code setup is only useful to me:
.vscode/

# Some local scratch files are kept in private directories that need not go into git:
# Also includes temporary files we use to capture program outputs & LLM prompts:
private/
scratch*
OUT*
ERR*
prompt.md

# Build folders:
build/
.build/

# Exclusions for the MSVC build system
out/
.vs/

# Documentation build folders:
.quarto/
_site/
.luarc.json
site/

# Exclusions for Python/Jupyter:
venv/
.python-version
__pycache__/
.ipynb_checkpoints/

# Exclusions for Node.js:
node_modules/

# Exclusions for Lua/LuaRocks:
/luarocks
/lua
/lua_modules
/.luarocks
/.luarc.json
*.rock

# Exclusions for Rust/Cargo:
/target
/Cargo.lock
**/*.rs.bkp*
